@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  body{
    background-color: black;
  }
/*shared style*/
.text-orange{
    color: #E6533C;
}
.text-white{
    color: white;
}
.display-flex{
      display: flex;
}
/*header styles*/

/*navbar styles*/
 
.nav-section{
    color: white;
    justify-content: space-between;
}
.navbar-icon{
    font-weight: 700px;
    font-size: 2rem;
}
.navbar{
    border: 1px solid white;
    border-radius: 8px;
}
.nav-item, .navlink{
    list-style: none;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1rem;
}


    
